//#breaker{
//  margin-top: 70px;
//  margin-bottom: 70px;
//  hr{
//    color: #B31DA1;
//    }
//}
hr{
  color: #AD33B8;
  border-color: #a9a9a9;
    margin-top: 30px;
    margin-bottom: 70px;
}