.btn-customize {
  color: #AD33B8;
  font-weight: bold;
  background-color: #FFFFFF;
  border-color: #4b0082;
  border-radius: 5px;
  border-style: solid;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 30px;
  margin-bottom: 30px;
}

//.btn-customize:hover,
////.btn-customize:focus,
//.btn-customize:active,
//.btn-customize.active,
//.open .dropdown-toggle.btn-customize {
//  color: #AD33B8;
//  background-color: #E0E0E0;
//  border-color: #AD33B8;
//}
//
//.btn-customize:active,
//.btn-customize.active,
//.open .dropdown-toggle.btn-customize {
//  background-image: none;
//}
//
//.btn-customize.disabled,
//.btn-customize[disabled],
//fieldset[disabled] .btn-customize,
//.btn-customize.disabled:hover,
//.btn-customize[disabled]:hover,
//fieldset[disabled] .btn-customize:hover,
//.btn-customize.disabled:focus,
//.btn-customize[disabled]:focus,
//fieldset[disabled] .btn-customize:focus,
//.btn-customize.disabled:active,
//.btn-customize[disabled]:active,
//fieldset[disabled] .btn-customize:active,
//.btn-customize.disabled.active,
//.btn-customize[disabled].active,
//fieldset[disabled] .btn-customize.active {
//  background-color: #FFFFFF;
//  border-color: #AD33B8;
//}
//
//.btn-customize .badge {
//  color: #FFFFFF;
//  background-color: #AD33B8;
//}